@import "tailwindcss";

:root {
  color: #111;
  background: #f4efe6;
  font-family: "Segoe UI", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

canvas {
  display: block;
}
